*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(32, 32, 32);
}
.container{
    background-color: rgba(0, 0, 0, 0);
    height: 15rem;
    width: 25rem;
    position: relative;
    transform-style: preserve-3d;
    z-index: 2;
}
.blur{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    z-index: 0;
}
.spotlight::before, .spotlight::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 4%;
    left: 35%;
    right: 35%;
    background: linear-gradient(0deg, rgb(255, 255, 255) 2%, rgb(175, 175, 175) 10%, rgb(32, 32, 32) 90%);
    transform-origin: bottom;
    transform: rotateX(70deg) skewX(17.5deg);
    transform-style: preserve-3d;
    z-index: -1;
    opacity: 0;
    animation-name: spotlight_animate;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
.spotlight::after{
    transform: rotateX(70deg) skewX(-17.5deg);
}
@keyframes spotlight_animate {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.img_contain{
    position: absolute;
    top: 10%;
    left: 50%;
    height: 70%;
    width: 60%;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-50%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in;
}
.image{
    top: 0%;
    left: 50%;
    height: 99.9%;
    width: 99.9%;
    border: 1px solid transparent;
    border-radius: 9px;
    overflow: hidden;
    font-size: 3rem;
}
.title{
    position: absolute;
    height: 99.9%;
    width: 99.9%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    padding: 1rem 1rem;
    word-wrap: normal;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.img_contain::after{
    position: absolute;
    content: '';
    left: 50%;
    height: 168px;
    width: 240px;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-50%, 0);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.472) 5%, rgb(0, 0, 0, 0));
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.img_contain:hover{
    transform: translate(-50%, 0);
}
.img_contain:hover .title{
    opacity: 1;
    transform: translateX(0);
}
.img_contain:hover::after{
    opacity: 1;
}
